<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
    <header class="page-header" role="banner">
        <h1 class="project-name">{{ site.title }}</h1>
        <h2 class="project-tagline">
            {{ site.description }}</h2>
        <a href="{{ site.vector.vector_repo_url }}" class="btn">View source code for Vector on GitHub</a>
        <a href="{{ site.vector.vector_download }}" class="btn">Download Vector Anti-Cheat</a>
    </header>

    <main id="content" class="main-content" role="main">
        {{ content }}

        <footer class="site-footer">
            <span class="site-footer-owner"><a href="{{ site.vector.vector_repo_url }}">Vector Anti-Cheat</a> is
                maintained
                by <a href="{{ site.vector.maintainer }}">{{ site.vector.maintainer_name }}</a>.</span>
            <span class="site-footer-credits">Made with love by the <a
                    href=https://github.com/orgs/vector-anti-cheat/people>Vector Development Team.</a></span>
        </footer>
    </main>
</body>

</html>